<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cestmoi.xps_630_w7.exercise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainEntry"
            android:label="@string/title_activity_main_entry"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlimentsDetail"
            android:label="@string/title_activity_aliments_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecettesDetail"
            android:label="@string/title_activity_recettes_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlimentsAdd"
            android:label="@string/title_activity_aliments_add"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ca.cestmoi.xps_630_w7.exercise.AlimentsAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecettesAdd"
            android:label="@string/title_activity_recettes_add"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ca.cestmoi.xps_630_w7.exercise.RecettesAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
